.content-details {
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  padding: 32px 0px;
  margin-top: 32px;
  margin-bottom: 120px;
}

.content-details-main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--black);
}

.content-details-main-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-details-main-company {
  font-size: 32px;
  line-height: 32px;
  font-weight: 900;
}

.content-details-main-title {
  font-size: 22px;
  font-weight: 700;
}

.content-details-main-date {
  font-size: 16px;
  font-weight: 700;
}

.content-details-sections {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 42px;
  padding-top: 32px;
}

.content-details-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  padding-bottom: 16px;
}

.content-details-description {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.content-details-section-text {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  box-sizing: border-box;
  background: linear-gradient(
    124deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 14%,
    rgba(31, 31, 31, 1) 100%
  );
  border-radius: 12px;
  padding: 24px;
}

.content-details-section-image {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
}

.content-details-image {
  border-radius: 12px;
  height: auto;
  width: 250px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.content-details-section-video {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
}

.content-details-video {
  border: 0;
  border-radius: 12px;
  width: 100%;
  height: auto;
}
