.content-container {
  border-top: 2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  padding: 32px 0px;
  margin-top: 32px;
  margin-bottom: 120px;
  column-count: 3;
}

.content-item {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.02);
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.6));
  }
  &:hover .content-image {
    transform: scale(1.075);
  }
}

.content-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
}
