.component-container {
  font-family: "MiSans";
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1648px;
  padding: 0 15px;
  @media (min-width: 720px) {
    padding: 0 48px;
  }
  @media (min-width: 1080px) {
    padding: 0 72px;
  }
  @media (min-width: 1440px) {
    padding: 0 112px;
  }
}

.content-container {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  padding: 32px 0px;
  margin-top: 32px;
  margin-bottom: 120px;
  /* column-count: 2;
  @media (min-width: 1080px) {
    column-count: 3;
  } */
}

.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.scroll-background {
  min-height: 100vh;
  animation: scrollBackground 30s linear infinite;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.03) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.03) 75%,
      rgba(0, 0, 0, 0.03)
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.03) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.03) 75%,
      rgba(0, 0, 0, 0.03)
    );
  background-size: 80px 80px; /* bigger squares */
  background-position: 0 0, 40px 40px; /* offset second layer */
}

@keyframes scrollBackground {
  from {
    background-position: 0 0, 40px 40px;
  }
  to {
    background-position: 80px 80px, 120px 120px;
  }
}
