/* MiSans */
@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Normal.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Regular.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Medium.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Demibold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Semibold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans/woff2/MiSansLatin-Heavy.woff2")
    format("woff2");
  font-weight: 1000;
  font-style: normal;
}
