:root {
  --black: #15161a;
  --grey: #15161a;
  --white: #fff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
}

body {
  margin: 0;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #15161a;
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
