.footer {
  width: 100%;
  background: var(--grey);
  color: var(--white);
  height: 140px;
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  @media (min-width: 720px) {
    padding: 0 48px;
  }
  @media (min-width: 1080px) {
    padding: 0 72px;
  }
  @media (min-width: 1440px) {
    padding: 0 112px;
  }
}

.footer-text {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.footer-link {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
}

.footer-up-nav-container {
  position: relative;
}

.footer-up-nav {
  position: absolute;
  bottom: 80px;
  background: var(--grey);
  right: 0;
  padding: 16px 16px;
  &:hover .footer-up-icon {
    -webkit-animation: pulsate-bck 0.8s ease-in-out infinite both;
    animation: pulsate-bck 0.8s ease-in-out infinite both;
  }
}

.footer-up-icon {
  pointer-events: none;
  width: 32px;
  height: 32px;
  fill: var(--white);
  transition: transform 0.3s, fill 0.3s;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
