.footer {
  width: 100%;
  background: var(--grey);
  color: var(--white);
  height: 140px;
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  @media (min-width: 720px) {
    padding: 0 48px;
  }
  @media (min-width: 1080px) {
    padding: 0 72px;
  }
  @media (min-width: 1440px) {
    padding: 0 112px;
  }
}

.footer-text {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.footer-link {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
}

.footer-up-nav-container {
  position: relative;
}

.footer-up-nav {
  position: absolute;
  bottom: 80px;
  background: var(--grey);
  right: 20px;
  padding: 30px 30px;
}
