.footer {
  width: 100%;
  background: #15161a;
  color: white;
  height: 140px;
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
}

.footer-inner-container {
  padding: 0 15px;
  @media (min-width: 720px) {
    padding: 0 48px;
  }
  @media (min-width: 1080px) {
    padding: 0 72px;
  }
  @media (min-width: 1440px) {
    padding: 0 112px;
  }
}

.footer-text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.footer-link {
  color: #fff;
  font-weight: 700;
  line-height: 24px;
}
