.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-bar-inner-container {
  display: flex;
  align-items: center;
  height: 140px;
  justify-content: space-between;
  padding: 0 15px;
  @media (min-width: 720px) {
    padding: 0 48px;
  }
  @media (min-width: 1080px) {
    padding: 0 72px;
  }
  @media (min-width: 1440px) {
    padding: 0 112px;
  }
}

.top-bar-icon {
  margin-top: 32px;
  height: 64px;
  width: 64px;
  background-color: #fff;
}

.top-bar-buttons-container {
  display: flex;
  gap: 16px;
}

.top-bar-button {
  background-color: #15161a;
  color: #fff;
  outline: 2px solid #2a2c33;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    outline: 2px solid #fff;
  }
}
