.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-bar-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  @media (min-width: 720px) {
    padding: 0 48px;
  }
  @media (min-width: 1080px) {
    padding: 0 72px;
  }
  @media (min-width: 1440px) {
    padding: 0 112px;
  }
}

.top-bar-icon {
}

.top-bar-buttons-container {
}
