.hero {
  margin-top: 48px;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.hero-picture {
  pointer-events: none;
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background-color: var(--white);
  flex-shrink: 0;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.hero-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero-name {
  font-size: 32px;
  font-weight: 1000;
  color: var(--black);
  text-transform: uppercase;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.hero-description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 800px;
}

.hero-description {
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.hero-icons-containers {
  display: flex;
  gap: 12px;
}

.hero-icon-container {
  width: auto;
  height: 28px;
  &:hover {
    -webkit-animation: wobble-ver-left 0.65s both;
    animation: wobble-ver-left 0.65s both;
  }
  &:hover .footer-up-icon {
    -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
    animation: pulsate-bck 0.5s ease-in-out infinite both;
  }
}

.hero-icon {
  pointer-events: none;
  width: 28px;
  height: 28px;
  transform-origin: center center;
  fill: var(--grey);
  transition: transform 0.3s, fill 0.3s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes wobble-ver-left {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-ver-left {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.04);
  }
  15% {
    -webkit-transform: translateY(-3px) rotate(-6deg);
    transform: translateY(-3px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(1px) rotate(6deg);
    transform: translateY(1px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-1px) rotate(-3.6deg);
    transform: translateY(-1px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateY(1px) rotate(2.4deg);
    transform: translateY(1px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateY(-0.6px) rotate(-1.2deg);
    transform: translateY(-0px) rotate(-1.2deg);
    transform: scale(1);
  }
}
