.about-me {
  margin-top: 48px;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.about-me-picture {
  width: 200px;
  height: 200px;
  background-color: var(--white);
  flex-shrink: 0;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.15));
}

.about-me-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.about-me-name {
  font-size: 32px;
  font-weight: 1000;
  color: var(--black);
  text-transform: uppercase;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.about-me-description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 800px;
}

.about-me-description {
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.about-me-icons-containers {
  display: flex;
  gap: 12px;
}

.about-me-icon-container {
  width: auto;
  height: 24px;
}

.about-me-icon {
  width: 24px;
  height: 24px;
  transform-origin: center center;
  fill: var(--grey);
  transition: transform 0.3s, fill 0.3s;
  &:hover {
    transform: scale(1.12);
    fill: var(--black);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
